/* Asegurarse de que el body y html ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .forgot-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    font-size: 2rem;
  }
  
  /* Ajustar la clase para el fondo */
  .forgot-background {
    flex: 1;
    width: 50%;
    height: 100vh;
    background-image: url('/public/images/catforgot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
  }
  
  @media (min-width: 640px) {
    .forgot-background {
      display: block;
    }
  }
  
  .forgot-wrapper {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    width: 800px; /* Aumenta el tamaño del cuadro */
    padding: 40px 60px; /* Aumenta el padding */
    border-radius: 10px;
    font-size: 1.6em; /* Aumenta el tamaño del texto */
  }
  
  .forgot-title {
    text-align: center;
    font-size: 2.25rem; /* Aumenta el tamaño del título */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.5rem; /* mb-2 */
    text-transform: uppercase;
    color: #6B7280; /* text-gray-500 */
  }
  
  .forgot-subtitle {
    color: #9CA3AF; /* text-gray-400 */
    display: block;
    margin: 1rem 0; /* my-4 */
    font-size: 1.25rem; /* Aumenta el tamaño del subtítulo */
  }
  
  .forgot-form-group {
    margin-bottom: 20px;
  }
  
  .forgot-label {
    margin-bottom: 0.5rem; /* mb-2 */
    display: block;
    font-size: 1.25rem; /* Aumenta el tamaño de la etiqueta */
    font-weight: 600; /* font-semibold */
  }
  
  .forgot-input {
    display: block;
    width: 100%;
    border-radius: 0.375rem; /* rounded-md */
    border: 1px solid #D1D5DB; /* border-gray-300 */
    padding: 0.5rem 0.75rem; /* Aumenta el tamaño del padding */
    color: #6B7280; /* text-gray-500 */
    outline: none;
    font-size: 1.25rem; /* Aumenta el tamaño de la fuente del input */
  }
  
  .forgot-input:focus {
    border-color: #7C3AED; /* focus:border-purple-700 */
    box-shadow: 0 0 0 1px #7C3AED; /* focus:ring-1 focus:ring-purple-700 */
  }
  
  .forgot-button-group {
    margin-bottom: 0.75rem; /* mb-3 */
  }
  
  .forgot-btn {
    background-color: #00e100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #00e100;
    text-align: center;
    border-radius: 10px;
    color: black;
    margin-top: 50px;
    padding: 10px 20px;
    width: 100%;
    font-size: 1.25rem; /* Aumenta el tamaño del botón */
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
  }
  
  .forgot-btn:hover {
    background-color: #a1ffa1;
  }
  
  .forgot-separator {
    margin-top: 1.25rem; /* mt-5 */
    font-size: 1rem; /* Aumenta el tamaño de la fuente */
    border-bottom-width: 2px; /* border-b-2 */
    padding-bottom: 1rem; /* py-4 */
  }
  
  .forgot-prompt {
    margin-top: 0.75rem; /* mt-3 */
    font-size: 1.25rem; /* Aumenta el tamaño de la fuente */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forgot-login-btn {
    padding: 0.5rem 1.25rem; /* py-2 px-5 */
    background-color: #4B5563; /* bg-gray-600 */
    color: #D1D5DB; /* text-slate-300 */
    border: 1px solid;
    border-radius: 0.75rem; /* rounded-xl */
    font-size: 1.25rem; /* Aumenta el tamaño del botón */
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
  }
  
  .forgot-login-btn:hover {
    transform: scale(1.10);
    background-color: #1F2937; /* bg-gray-900 */
    color: white;
  }
  